@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    margin: 0;
    padding: 0;

    color: white;
    font-family: 'Syne', sans-serif;

    background-color: black;
    background-image: url("../images/jakub-kriz-QE3BkF3ygp0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width: 100%;   

    overflow-x: hidden;

    background-attachment: fixed;
}

.ham {
    position: absolute;
    right: 0;
    z-index: 99999;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ham.active {
    transform: rotate(45deg);
}
.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:white;
    stroke-width: 5.5;
    stroke-linecap:round;
}
.ham .top {
    stroke-dasharray: 40 139;
}
.ham .bottom {
    stroke-dasharray: 40 180;
}
.ham.active .top {
    stroke-dashoffset: -98px;
}
.ham.active .bottom {
    stroke-dashoffset: -138px;
}
  
.menu {
    position: absolute;
    background-color: rgba(0,0,0,.8);
    right: 0;

    text-align: center;

    height: 100%;
    
    z-index: 999;

    transition: transform 1s;
}

@media (orientation: landscape) {
    .menu {
        width: 50%;
    }
}

@media (orientation: portrait) {
    .menu {
        width: 90%;
    }
}

.menu.hidden {
    transform: translateX(100%);
}

.name {
    font-size: 3em;
    margin: .5em;
}

.name span {
    font-family: 'Nothing You Could Do', sans-serif;
    color: white;
}

.hello-world {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.2em;
    height: 2.5em;
}

.image-overlay {
    color: #152524;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;

    text-align: center;

    background-color: rgba(255,255,255,.2);
    padding: 2em;
}

.arrow-down {
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);

    font-family: 'Nothing You Could Do', sans-serif;

    font-size: 1.5em;

    cursor: pointer;
}

.content {
    font-family: 'Balsamiq Sans', monospace;

    position: absolute;
    top: 100%;
    width: 100%;
}

.content h1 {
    font-family: 'Nothing You Could Do', sans-serif;

    text-align: center;
}

.career {
    padding: 3em 1em;
    background-color: rgba(17, 48, 59,1);
}

.career-step {
    text-align: center;
    padding: 5vh 0;
    font-family: 'Syne', sans-serif;
}

.career .year, .career .year a {
    text-align: center;
    font-size: 1.2em;
    color: #8d99a9;
    padding-bottom: .5em;
    font-family: 'Nothing You Could Do', sans-serif;

    outline: none;
    text-decoration: none;
}

.career .course {
    font-weight: bolder;
}

.career .school {
    text-align: center;
}

.career h1 {
    text-align: center;
}

.career .dots {
    font-size: 2em;
}

.projects {
    padding: 3em 1em;
    background-color: rgba(17, 48, 59,1);
}

.projects .icon {
    width: 10vw;
    margin: 1em;
    border-radius: 25%;
    vertical-align: top;
}

.projects .screenshots {
    height: 25vh;
    margin: 1em;
}

.projects .description {
    display: inline-block;
    width: calc(100% - 10vw - 7em);
    margin: 1em 1em;
}

.projects button {
    background-color: transparent;
    outline: none;
    border: none;

    text-align: left;

    display: block;

    color: white;

    margin: .5em;
    padding: 0;

    color: #8d99a9;
    font-family: 'Nothing You Could Do', sans-serif;
    font-size: .8em;

    cursor: pointer;
}

.more {
    display: none;
}

.projects .info {
    color: #8d99a9;
    font-family: 'Nothing You Could Do', sans-serif;
}

.projects a {
    color: #8d99a9;
    text-decoration: none;
}

.quote {
    background-color: rgba(17, 48, 59,1);

    font-family: 'Nothing You Could Do', sans-serif;
    font-size: 2em;
    text-align: center;
    padding: 2em;
}

.contact {
    color: #8d99a9;
    font-family: 'Nothing You Could Do', sans-serif;

    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    color: #8d99a9;
    text-align: right;

    height: 2em;
}

.footer p {
    margin: 0;
    margin-right: 2vw;
}

.space {
    width: 100%;
    height: 20vh;
}

.aboutme {
    background-color: rgba(17, 48, 59,1);
    padding: 3em;
}

h1 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #fff; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
} 
 
h1 span { 
    background-color: rgba(17, 48, 59,1);
    padding:0 10px; 
}